/.idea/
*.iml
/idgenerator/logs/
/idgenerator/target/
/common/target/
/common/logs/
/manager/logs/
/manager/data/
/manager/logs/
/manager/target/
/manager/licenses/
/manager/licenseCreatorSettings.json
/manager/exports/
/builder/build/
/builder/virgo/
/builder/proguard.pro
/manager/cliTest.bat
/.resources/build/idgenerator.exe
/builder/build.ps1
/idgenerator/build.ps1
target/
proguard.pro
/data
licenseCreatorSettings.json
/logs
/config
